<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.KcxxMapper">
    <!--List<kcxx> findAll();-->
    <select id="findAll" resultType="com.erp.pojo.Kcxx">
        select * from kcxx;
    </select>

    <!-- void remove(@Param("ids") Integer[] ids); in (1,2,4)-->
    <delete id="remove">
        delete from `kcxx` where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--void update(@Param("kcxx") kcxx kcxx);-->
    <update id="update">
        update `kcxx` set `id`=#{kcxx.id},name=#{kcxx.name} where id=#{kcxx.id}
    </update>

    <!--kcxx findById(@Param("id") int id);-->
    <select id="findById" resultType="com.erp.pojo.Kcxx">
        select * from `kcxx` where id=#{id}
    </select>

    <!--void add(@Param("kcxx") kcxx kcxx);-->
    <insert id="add">
        insert  into `kcxx`(`id`,`name`) values(#{kcxx.id},#{kcxx.name});
    </insert>


    <select id="count" resultType="int">
        select count(*) from `kcxx`
    </select>
	<!--
	 List<kcxx> page(@Param("startNum") int startNum,@Param("pageNum") int pageSize);
-->
    <select id="page" resultType="com.erp.pojo.Kcxx">
        select * from `kcxx`
        limit #{startNum},#{pageSize}
    </select>
</mapper>