<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.TouSuMapper">
    <!--List<tousu> findAll();-->
    <select id="findAll" resultType="com.erp.pojo.TouSu">
        select * from tousu;
    </select>

    <!-- void remove(@Param("ids") Integer[] ids); in (1,2,4)-->
    <delete id="remove">
        delete from `tousu` where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--void update(@Param("tousu") tousu tousu);-->
    <update id="update">
        update `tousu` set,`name`=#{tousu.name},time=#{tousu.time},cause=#{tousu.cause}where id=#{tousu.id}
    </update>

    <!--tousu findById(@Param("id") int id);-->
    <select id="findById" resultType="com.erp.pojo.TouSu">
        select * from `tousu` where id=#{id}
    </select>

    <!--void add(@Param("tousu") tousu tousu);-->
    <insert id="add">
        insert  into `tousu`(`name`,`time`,`cause`) values(#{tousu.name},#{tousu.time},#{tousu.cause});
    </insert>


    <select id="count" resultType="int">
        select count(*) from `tousu`
    </select>
	<!--
	 List<tousu> page(@Param("startNum") int startNum,@Param("pageNum") int pageSize);
-->
    <select id="page" resultType="com.erp.pojo.TouSu">
        select * from `tousu`
        limit #{startNum},#{pageSize}
    </select>
</mapper>